*{
    margin: 0;
    padding: 0;
}

#texto-fonte-root{
    font-size: 3rem;
}

#texto-paddings-verticais{
    padding: 2rem;
}

#altura-porcentagem-comprimento{
    height: 20vw;
}

#comprimento-metade-altura{
    width: 50vh;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 0.7em;
}

#comprimento-pai{
    width: 0.1em;
}

.caixa{
    height: 500px;
}

#altura-pai{
    height: 0.1em;
}